/*Override react-tab styling*/

.react-tabs__tab {
  color: #9b9b9b;
  font-size: 1.5rem;
}

.react-tabs__tab--selected {
  background: #f8f8f8;
  border-color: #f8f8f8;
  color: #4a4a4a;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #f8f8f8;
  margin: 0 0 30px;
  padding: 0;
}
