.side-modal {
  left: auto;
  top: 58px;
}

.side-modal > .modal-dialog {
  margin: 0;
  max-width: 375px;
}

.side-modal > .modal-dialog > .modal-content {
  border-radius: 0;
  height: calc(100vh - 58px);
  border: 1px solid #e2dfdf;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.side-modal {
  animation: slide-left 600ms ease-out;
}

@keyframes slide-left {
  from {
    right: -350px;
  }
  to {
    right: 0px;
  }
}
